        .doubleTitle {
            position: relative;
        }
        
        .doubleTitle_partners {
            margin: 40px 0;
            @include respondTo(small-desktops) {
                display: flex;
                justify-content: center;
            }
            @include respondTo(tablets) {
                display: flex;
                justify-content: center;
            }
            @include respondTo(wide-phones) {
                display: flex;
                justify-content: center;
                margin: 25px 0;
            }
        }
        
        .doubleTitle_projects {
            margin: 15px 0;
            @include respondTo(small-desktops) {
                display: flex;
                justify-content: center;
            }
            @include respondTo(tablets) {
                display: flex;
                justify-content: center;
            }
            @include respondTo(wide-phones) {
                display: flex;
                justify-content: center;
                margin: 25px 0;
            }
        }
        
        .doubleTitle__text {
            position: relative;
            z-index: 100;
            font-family: $secondFont;
        }
        
        .doubleTitle__text_partners {
            font-size: 50px;
            font-weight: 800;
            @include respondTo(lg-desktops) {
                font-size: 50px;
                padding: 0 0 0 20px;
            }
            @include respondTo(small-desktops) {
                font-size: 50px;
                padding: 0 0 0 20px;
            }
            @include respondTo(tablets) {
                font-size: 34px;
                padding: 0 0 0 20px;
            }
            @include respondTo(wide-phones) {
                font-size: 26px;
                padding: 0 0 0 20px;
            }
        }
        
        .doubleTitle__text_projects {
            color: $hoverIconColor;
            font-size: 40px;
            line-height: 36px;
            padding: 25px 245px;
            font-weight: 700;
            letter-spacing: 6px;
            font-family: $mainFont;
            @include respondTo(lg-desktops) {
                font-size: 36px;
                line-height: 54px;
                padding: 0 110px;
            }
            @include respondTo(small-desktops) {
                font-size: 36px;
                line-height: 48px;
                padding: 0 110px;
            }
            @include respondTo(tablets) {
                font-size: 30px;
                line-height: 36px;
                padding: 0 100px;
            }
            @include respondTo(wide-phones) {
                font-size: 24px;
                line-height: 32px;
                padding: 0px 70px;
            }
        }
        
        .doubleTitle__text_adaptate {
            font-size: 35px;
            font-weight: 800;
            @include respondTo(lg-desktops) {
                font-size: 35px;
                padding: 0 0 0 20px;
            }
            @include respondTo(small-desktops) {
                font-size: 35px;
                padding: 0 0 0 20px;
            }
            @include respondTo(tablets) {
                font-size: 28px;
                padding: 0 0 0 20px;
            }
            @include respondTo(wide-phones) {
                font-size: 24px;
                padding: 0 0 0 20px;
                text-align: center;
            }
        }
        
        .doubleTitle__text_careful {
            font-size: 35px;
            font-weight: 800;
            @include respondTo(lg-desktops) {
                font-size: 35px;
                padding: 20px 0;
            }
            @include respondTo(small-desktops) {
                font-size: 35px;
                padding: 20px 0;
                text-align: center;
            }
            @include respondTo(tablets) {
                font-size: 28px;
                padding: 20px 0;
                text-align: center;
            }
            @include respondTo(wide-phones) {
                font-size: 24px;
                padding: 20px 0;
                text-align: center;
            }
        }
        
        .doubleTitle__back:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
        }
        
        .doubleTitle__back_partners:before {
            color: rgba(193, 193, 193, 0.65);
            font-family: $secondFont;
            font-size: 112px;
            content: 'BE THE FIRST';
            font-weight: 800;
            top: -45px;
            left: -60px;
            width: 100%;
            height: 100%;
            @include respondTo(lg-desktops) {
                font-size: 100px;
                top: -40px;
                left: -10px;
            }
            @include respondTo(small-desktops) {
                font-size: 106px;
                top: -42px;
                left: 28px;
            }
            @include respondTo(tablets) {
                font-size: 84px;
                top: -34px;
                left: 28px;
            }
            @include respondTo(wide-phones) {
                font-size: 62px;
                top: -22px;
                left: 28px;
            }
        }
        
        .doubleTitle__back_projects:before {
            color: rgba(193, 193, 193, 0.40);
            font-family: $secondFont;
            font-size: 110px;
            content: 'OUR PROJECTS';
            font-weight: 800;
            top: -38%;
            left: 0;
            width: 100%;
            height: 100%;
            letter-spacing: 5px;
            padding: 0;
            @include respondTo(lg-desktops) {
                font-size: 75px;
                top: -65%;
                left: 35px;
            }
            @include respondTo(small-desktops) {
                font-size: 75px;
                top: -65%;
                left: 35px;
            }
            @include respondTo(tablets) {
                font-size: 60px;
                top: -80%;
                left: 35px;
            }
            @include respondTo(wide-phones) {
                font-size: 52px;
                top: -80%;
                left: 10px;
            }
        }
        
        .doubleTitle__back_adaptate:before {
            color: rgba(193, 193, 193, 0.40);
            font-family: $secondFont;
            font-size: 80px;
            content: 'ADAPTATE';
            font-weight: 800;
            top: -67%;
            left: -58px;
            width: 100%;
            height: 100%;
            letter-spacing: 5px;
            padding: 0;
            @include respondTo(lg-desktops) {
                font-size: 75px;
                top: -65%;
                left: -35px;
            }
            @include respondTo(small-desktops) {
                font-size: 75px;
                top: -65%;
                left: -35px;
            }
            @include respondTo(tablets) {
                font-size: 60px;
                top: -80%;
                left: -35px;
            }
            @include respondTo(wide-phones) {
                font-size: 52px;
                top: -67%;
                left: 20%;
            }
        }
        
        .doubleTitle__back_careful:before {
            color: rgba(193, 193, 193, 0.40);
            font-family: $secondFont;
            font-size: 80px;
            content: 'BE CAREFUL';
            font-weight: 800;
            top: -67%;
            left: -58px;
            width: 100%;
            height: 100%;
            letter-spacing: 5px;
            padding: 0;
            @include respondTo(lg-desktops) {
                font-size: 65px;
                top: 0%;
                left: -20px;
            }
            @include respondTo(small-desktops) {
                font-size: 65px;
                top: 0%;
                left: 20%;
            }
            @include respondTo(tablets) {
                font-size: 65px;
                top: 0%;
                left: 15%;
            }
            @include respondTo(wide-phones) {
                font-size: 55px;
                top: 0%;
                left: 5%;
            }
        }