.developBanner {}

.developBanner_tuning {
    width: 666px;
    height: 526px;
    position: absolute;
    top: 1500px;
    left: 500px;
    background: url('../img/debelop_bg.png');
    color: white;
}

.developBanner__text {
    color: white;
    font-size: 48px;
}