# 
###################
.tmp

# Node & Bower & JSPM
###################
node_modules
bower_components
jspm_packages

/lp3/HTML5Application/nbproject/private/
/lp3/nbproject/private/
/lp3/HTML5Application1/nbproject/private/