.button {
    font-family: $secondFont;
    color: $hoverIconColor;
    border-radius: 20px;
    border: 0;
}

.button_more {
    background: #6a6b8e;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
    margin: 30px;
    &:hover {
        cursor: pointer;
        color: #303263;
    }
}

.button_grade {
    background: $sbHoverColor;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
    margin: 10px;
    z-index: 100;
    &:hover {
        cursor: pointer;
        color: #f5eacd;
    }
}