.footer {}

.footer_tuning {
    @include positionOnPage();
    padding: 0;
    @include respondTo(lg-desktops) {
        width: 100%
    }
    @include respondTo(small-desktops) {
        width: 100%
    }
    @include respondTo(tablets) {
        width: 100%
    }
    @include respondTo(wide-phones) {
        width: 100%
    }
}