.videoItem{}

.videoItem__video{
	width:100%;
	height:571px;
}

.videoItem_tuning{
	@include positionOnPage();
	position:relative;
	margin-bottom:100px;

	@include respondTo(lg-desktops){
		width: 100%;
	}

	@include respondTo(small-desktops){
	    width: 100%;
	    padding: 10px;

	    .videoItem__video{
	    	padding: 0;
	    	margin: 10px auto;
	    }
	}

	@include respondTo(tablets){
	    width: 100%;
	    padding: 10px;

	    .videoItem__video{
	    	padding: 0;
	    	margin: 10px auto;
	    }
	}

	@include respondTo(wide-phones){
	    display: none;
	}

	@include respondTo(phones){
	    display: none;
	}
}





