.historyBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    @include respondTo(lg-desktops) {
        padding-bottom: 50px;
    }
    @include respondTo(small-desktops) {
        padding-bottom: 50px;
    }
    @include respondTo(tablets) {
        padding-bottom: 50px;
    }
    @include respondTo(wide-phones) {
        flex-direction: column;
    }
}