.icon {
    font-family: "IconFont";
    font-style: normal;
    font-size: 52px;
    color: $mainIconColor;
}

.icon_white {
    color: $hoverIconColor;
}

.icon_small {
    font-size: 45px;
}


/*
icon- heartbeat &#xf21e
icon- rocket 0xf135
icon- mobile &#xe800;
icon- mobile-1 0xf10b
icon- right-big 0xe801
icon- up-big 0xe802
icon- left-big 0xe803
icon- down-big 0xe804 
right-small 0xe805 
*/