.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    @include respondTo(lg-desktops) {}
    @include respondTo(small-desktops) {}
    @include respondTo(tablets) {}
    @include respondTo(wide-phones) {}
}

.navbar__item {
    font-family: $secondFont;
    font-size: 26px;
    margin: 40px;
}

.navbar__item_active {
    color: #f6ae48;
}