.tradeIn {}

.tradeIn_tuning {
    @include positionOnPage();
    padding: 0;
    @include respondTo(lg-desktops) {
        width: 100%;
    }
    @include respondTo(small-desktops) {
        width: 100%;
    }
    @include respondTo(tablets) {
        width: 100%;
    }
    @include respondTo(wide-phones) {
        width: 100%;
    }
}

.tradeIn__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100;
    @include respondTo(tablets) {
        flex-direction: column;
    }
    @include respondTo(wide-phones) {
        flex-direction: column;
    }
}