    .headerWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 810px;
        background: url(../img/header.png);
        position: relative;
    }
    
    .headerWrap_overlay:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(27, 31, 103, 0.6);
    }
    
    .header_tuning {
        @include positionOnPage();
        color: white;
        height: 810px;
        padding: 0;
        @include respondTo(lg-desktops) {
            height: 100%;
            width: 100%;
            .headerWrap_overlay:before {
                display: none;
            }
            .headerWrap {
                background: rgba(103, 58, 183, 1);
                position: static;
                height: 100%;
                width: 100%;
            }
            .headerWrap__mainTitle {
                padding: 70px 0 50px;
            }
            .headerWrap__resumeText {
                margin: 0 70px;
            }
            .historyBlock {
                padding-bottom: 50px;
            }
        }
        @include respondTo(small-desktops) {
            height: 100%;
            width: 100%;
            padding: 0;
            .headerWrap_overlay:before {
                display: none;
            }
            .headerWrap {
                background: rgba(103, 58, 183, 1);
                position: static;
                height: 100%;
                width: 100%;
            }
            .headerWrap__mainTitle {
                padding: 70px 0 50px;
            }
            .headerWrap__resumeText {
                margin: 0 70px;
            }
            .historyBlock {
                padding-bottom: 50px;
            }
        }
        @include respondTo(tablets) {
            height: 100%;
            width: 100%;
            padding: 0;
            .headerWrap_overlay:before {
                display: none;
            }
            .headerWrap {
                background: rgba(103, 58, 183, 1);
                position: static;
                height: 100%;
                width: 100%;
            }
            .headerWrap__mainTitle {
                padding: 70px 0 50px;
            }
            .headerWrap__resumeText {
                margin: 0 70px;
            }
            .historyBlock {
                padding-bottom: 50px;
            }
        }
        @include respondTo(wide-phones) {
            height: 100%;
            width: 100%;
            padding: 0;
            .headerWrap_overlay:before {
                display: none;
            }
            .headerWrap {
                background: rgba(103, 58, 183, 1);
                position: static;
                height: 100%;
                width: 100%;
            }
            .headerWrap__mainTitle {
                padding: 70px 0 50px;
            }
            .headerWrap__resumeText {
                margin: 0 70px;
                font-size: 44px;
                line-height: 50px;
            }
            .historyBlock {
                padding-bottom: 50px;
            }
        }
    }
    
    .headerWrap__mainTitle {
        font-size: 48px;
        padding: 200px 0 50px;
        margin: 0 50px;
        font-family: $mainFont;
        z-index: 100;
    }
    
    .headerWrap__resumeText {
        font-size: 24px;
        padding: 0 0 70px 0;
        line-height: 36px;
        margin: 0 240px;
        font-family: $secondFont;
        z-index: 100;
    }