.tradeInBlock {}

.tradeInBlock__text {
    font-family: $secondFont;
    color: $hoverIconColor;
    font-weight: 400;
    font-size: 18px;
    padding: 0 30px 30px;
    text-align: left;
    letter-spacing: 0.9px;
    line-height: 30px;
}