@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf"); }

@font-face {
  font-family: NunitoSans;
  src: url("../fonts/NunitoSans-Regular.ttf"); }

.page {
  font-family: Montserrat, Sans-serif; }

.page_tuning {
  padding: 0;
  margin: 0; }

.header {
  background-color: #e9e9e9;
  background-image: url("../img/header.png"); }

.header__banner {
  float: right;
  margin-top: 14%;
  margin-left: 58%; }

.header__title {
  font-family: Montserrat, Sans-serif; }

.header__title_tuning {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; }

.header__text {
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; }

.header__text_tuning {
  margin: 25px 0 35px; }

.header_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  height: 670px;
  position: relative; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .header_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .header_tuning {
      width: 100%;
      background-image: none;
      height: 100%; }
      .header_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 0; }
      .header_tuning .logo_headerTuning {
        display: none; }
      .header_tuning .header__banner {
        float: none;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 20px; }
      .header_tuning .button_headerTuning {
        margin: 0 auto; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .header_tuning {
      width: 100%;
      background-image: none;
      height: 100%; }
      .header_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 0; }
      .header_tuning .logo_headerTuning {
        display: none; }
      .header_tuning .header__banner {
        float: none;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 20px; }
      .header_tuning .button_headerTuning {
        margin: 0 auto; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .header_tuning {
      width: 100%;
      background-image: none;
      height: 100%; }
      .header_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: middle;
        text-align: center; }
      .header_tuning .logo_headerTuning {
        float: none;
        margin: 0 auto 10px; }
      .header_tuning .header__banner {
        float: none;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 20px; }
      .header_tuning .button_headerTuning {
        margin: 0 auto; } }
  @media all and (max-width: 479px) {
    .header_tuning {
      width: 100%;
      padding: 5px;
      background-image: none;
      height: 100%; }
      .header_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center; }
      .header_tuning .logo_headerTuning {
        float: none;
        margin: 0 auto 10px; }
      .header_tuning .header__banner {
        float: none;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 12px;
        padding: 10px 0; }
      .header_tuning .button_headerTuning {
        margin: 0 auto; } }

.logo {
  background: url("../img/logo.png"); }

.logo_headerTuning {
  height: 25px;
  width: 31px;
  float: left;
  margin-top: 38px; }

.nav__item {
  float: left;
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.8px;
  padding: 0 15px;
  font-family: Montserrat, Sans-serif;
  color: #1d1d1d; }

.nav__link {
  display: inline-block;
  color: inherit; }
  .nav__link:hover {
    color: #10c9c3; }

.nav__item_active {
  color: #10c9c3; }

.nav_headerTuning {
  float: right;
  margin-top: 38px; }

.link {
  color: inherit; }
  .link:hover {
    text-decoration: none; }
  .link:active {
    text-decoration: none; }
  .link:visited {
    text-decoration: none; }
  .link:link {
    text-decoration: none; }

.button {
  border: none;
  background-color: #10c9c3;
  display: block;
  color: white;
  font-family: Montserrat, Sans-serif; }
  .button:hover {
    color: inherit; }

.button_videoImg {
  position: absolute;
  top: 42%;
  left: 47%;
  z-index: 1000;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  opacity: 0.5; }
  .button_videoImg:hover {
    border: 2px solid white;
    opacity: 1; }
    .button_videoImg:hover .button__img {
      transform: scale(2, 1.5); }

.button_headerTuning {
  width: 180px;
  height: 54px; }

.button_videoTxt {
  position: absolute;
  top: 42%;
  left: 47%;
  z-index: 1000;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  opacity: 0.5; }
  .button_videoTxt:hover {
    border: 2px solid white;
    opacity: 1; }

.button__input {
  background-color: transparent;
  border: none; }

.about__title {
  font-size: 30px;
  font-weight: 700; }

.about__title_tuningCenter {
  text-align: center; }

.about__title_tuningLeft {
  text-align: left; }

.about__text {
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.about__text_tuningCenter {
  margin: 25px 0;
  text-align: center; }

.about__text_tuningLeft {
  margin: 25px 0;
  text-align: left; }

.about__sign {
  background: url("../img/signature.png"); }

.about__sign_tuningCenter {
  width: 223px;
  height: 57px;
  margin: 30px auto 50px; }

.about__sign_tuningLeft {
  width: 223px;
  height: 57px;
  margin: 30px 0 50px; }

.about_meTuning {
  background-color: transparent;
  width: 34%;
  padding: 130px 130px 0; }

.about_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 90px 370px 50px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .about_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .about_tuning {
      width: 100%;
      margin: 20px auto;
      padding: 20px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .about_tuning {
      width: 100%;
      margin: 20px auto;
      padding: 20px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .about_tuning {
      width: 100%;
      margin: 20px auto;
      padding: 20px; } }
  @media all and (max-width: 479px) {
    .about_tuning {
      width: 100%;
      margin: 20px auto;
      padding: 20px; } }

.skills {
  background-color: #f4f4f3; }

.skills__img {
  background-color: #e9e9e9;
  background-image: url("../img/skills.png");
  background-size: cover;
  width: 50%;
  height: 570px; }

.skills_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  padding: 0; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .skills_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .skills_tuning {
      display: block;
      width: 100%; }
      .skills_tuning .skillsBlock {
        padding: 10px;
        width: 100%; }
      .skills_tuning .progressBlock {
        width: 100%;
        padding: 20px 100px; }
      .skills_tuning .skills__img {
        display: none; }
      .skills_tuning .skillsBlock__title {
        padding: 20px 100px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .skills_tuning {
      display: block;
      width: 100%; }
      .skills_tuning .skillsBlock {
        padding: 10px;
        width: 100%; }
      .skills_tuning .progressBlock {
        width: 100%;
        padding: 10px 20px; }
      .skills_tuning .skills__img {
        display: none; }
      .skills_tuning .skillsBlock__title {
        padding: 10px 20px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .skills_tuning {
      display: block;
      width: 100%; }
      .skills_tuning .skillsBlock {
        padding: 10px;
        width: 100%; }
      .skills_tuning .progressBlock {
        width: 100%;
        padding: 10px 5px; }
      .skills_tuning .skills__img {
        display: none; }
      .skills_tuning .skillsBlock__title {
        padding: 10px 5px; }
      .skills_tuning .progress {
        width: 100%; } }
  @media all and (max-width: 479px) {
    .skills_tuning {
      display: block;
      width: 100%; }
      .skills_tuning .skillsBlock {
        padding: 10px;
        width: 100%; }
      .skills_tuning .progressBlock {
        width: 100%;
        padding: 10px 5px; }
      .skills_tuning .skills__img {
        display: none; }
      .skills_tuning .skillsBlock__title {
        padding: 10px 5px; }
      .skills_tuning .progress {
        width: 100%; } }

.skillsBlock__title {
  font-family: Montserrat, Sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.skillsBlock_tuning {
  padding: 160px 0 120px 100px;
  width: 50%; }

.progressBlock__title {
  font-family: Montserrat, Sans-serif;
  color: #171717;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  float: left;
  margin: 0 15px 0 0; }

.progressBlock__value {
  font-family: Montserrat, Sans-serif;
  color: #171717;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px; }

.progress {
  background-color: #d8d8d8; }

.progress_tuning {
  width: 500px;
  height: 3px;
  margin: 18px 0 38px 0; }

.progress__value {
  background-color: #10c9c3;
  float: left;
  height: 100%;
  width: 50%; }

.progress__empty {
  float: right;
  height: 100%;
  width: 50%; }

.progress__value_75 {
  width: 75%; }

.progress__value_90 {
  width: 90%; }

.progress__value_65 {
  width: 65%; }

.progress__empty_25 {
  width: 25%; }

.progress__empty_10 {
  width: 10%; }

.progress__empty_35 {
  width: 35%; }

.history {
  background-color: #10c9c3;
  color: white; }

.history_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .history_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .history_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .history_tuning {
      width: 100%;
      padding: 10px;
      justify-content: center;
      flex-wrap: wrap; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .history_tuning {
      width: 100%;
      padding: 10px;
      justify-content: center;
      flex-wrap: wrap; } }
  @media all and (max-width: 479px) {
    .history_tuning {
      width: 100%;
      padding: 10px;
      justify-content: center;
      flex-wrap: wrap; } }

.historyBlock__img {
  float: left; }

.historyBlock__value {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; }

.historyBlock__desc {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px; }

.historyBlock_tuning {
  width: 255px;
  padding: 94px 0; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .historyBlock_tuning {
      padding: 24px 0; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .historyBlock_tuning {
      padding: 24px 0; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .historyBlock_tuning {
      padding: 24px 0; } }
  @media all and (max-width: 479px) {
    .historyBlock_tuning {
      padding: 24px 0; } }

.historyBlock__img_project {
  background: url("../img/project.png");
  width: 40px;
  height: 36px;
  margin: 8px 27px 0 0; }

.historyBlock__img_hours {
  background: url("../img/hours.png");
  width: 40px;
  height: 40px;
  margin: 8px 27px 0 0; }

.historyBlock__img_feedback {
  background: url("../img/feedback.png");
  width: 44px;
  height: 41px;
  margin: 8px 27px 0 0; }

.historyBlock__img_happy {
  background: url("../img/happy.png");
  width: 40px;
  height: 36px;
  margin: 8px 27px 0 0; }

.works__oneWork {
  width: 341px;
  height: 300px; }

.works__oneWork_1D {
  background-image: url("../img/1.png"); }
  .works__oneWork_1D:hover {
    background-image: url("../img/1.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_1C {
  background-image: url("../img/1.png"); }
  .works__oneWork_1C:hover {
    background-image: url("../img/1.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_2D {
  background-image: url("../img/2.png"); }
  .works__oneWork_2D:hover {
    background-image: url("../img/2.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_2C {
  background-image: url("../img/2.png"); }
  .works__oneWork_2C:hover {
    background-image: url("../img/2.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_3D {
  background-image: url("../img/3.png"); }
  .works__oneWork_3D:hover {
    background-image: url("../img/3.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_3C {
  background-image: url("../img/3.png"); }
  .works__oneWork_3C:hover {
    background-image: url("../img/3.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_4D {
  background-image: url("../img/4.png"); }
  .works__oneWork_4D:hover {
    background-image: url("../img/4.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_4C {
  background-image: url("../img/4.png"); }
  .works__oneWork_4C:hover {
    background-image: url("../img/4.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_5D {
  background-image: url("../img/5.png"); }
  .works__oneWork_5D:hover {
    background-image: url("../img/5.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_5C {
  background-image: url("../img/5.png"); }
  .works__oneWork_5C:hover {
    background-image: url("../img/5.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_6D {
  background-image: url("../img/6.png"); }
  .works__oneWork_6D:hover {
    background-image: url("../img/6.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_6C {
  background-image: url("../img/6.png"); }
  .works__oneWork_6C:hover {
    background-image: url("../img/6.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_7D {
  background-image: url("../img/7.png"); }
  .works__oneWork_7D:hover {
    background-image: url("../img/7.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_7C {
  background-image: url("../img/7.png"); }
  .works__oneWork_7C:hover {
    background-image: url("../img/7.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_8D {
  background-image: url("../img/8.png"); }
  .works__oneWork_8D:hover {
    background-image: url("../img/8.png"), url("../img/look1.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works__oneWork_8C {
  background-image: url("../img/8.png"); }
  .works__oneWork_8C:hover {
    background-image: url("../img/8.png"), url("../img/look2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply; }

.works_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .works_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .works_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .works_tuning {
      width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .works_tuning {
      width: 100%;
      flex-direction: column; } }
  @media all and (max-width: 479px) {
    .works_tuning {
      width: 100%;
      flex-direction: column; } }

.loadMore {
  background-color: #f5f5f5; }

.loadMore__title {
  font-family: Montserrat, Sans-serif;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.1px; }

.loadMore_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 45px 0; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .loadMore_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .loadMore_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .loadMore_tuning {
      width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .loadMore_tuning {
      width: 100%; } }
  @media all and (max-width: 479px) {
    .loadMore_tuning {
      width: 100%; } }

.workProcess__title {
  font-family: Montserrat, Sans-serif;
  color: #191919;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  padding: 0 0 41px 0; }

.workProcess__text {
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0 320px 0; }

.workProcess_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 100px 100px 57px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .workProcess_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .workProcess_tuning {
      width: 100%;
      padding: 10px; }
      .workProcess_tuning .workProcess__title {
        padding: 20px; }
      .workProcess_tuning .workProcess__text {
        padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .workProcess_tuning {
      width: 100%;
      padding: 10px; }
      .workProcess_tuning .workProcess__title {
        padding: 20px; }
      .workProcess_tuning .workProcess__text {
        padding: 10px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .workProcess_tuning {
      width: 100%;
      padding: 10px; }
      .workProcess_tuning .workProcess__title {
        padding: 20px 10px; }
      .workProcess_tuning .workProcess__text {
        padding: 10px; } }
  @media all and (max-width: 479px) {
    .workProcess_tuning {
      width: 100%;
      padding: 10px; }
      .workProcess_tuning .workProcess__title {
        padding: 20px 10px; }
      .workProcess_tuning .workProcess__text {
        padding: 10px; } }

.workProcess_tuningDark {
  background-color: #f6f6f6;
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 100px 100px 57px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .workProcess_tuningDark {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .workProcess_tuningDark {
      width: 100%;
      padding: 10px; }
      .workProcess_tuningDark .workProcess__title {
        padding: 20px; }
      .workProcess_tuningDark .workProcess__text {
        padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .workProcess_tuningDark {
      width: 100%;
      padding: 10px; }
      .workProcess_tuningDark .workProcess__title {
        padding: 90px 20px 20px 90px; }
      .workProcess_tuningDark .workProcess__text {
        padding: 10px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .workProcess_tuningDark {
      width: 100%;
      padding: 10px; }
      .workProcess_tuningDark .workProcess__title {
        padding: 20px 10px; }
      .workProcess_tuningDark .workProcess__text {
        padding: 10px; } }
  @media all and (max-width: 479px) {
    .workProcess_tuningDark {
      width: 100%;
      padding: 10px; }
      .workProcess_tuningDark .workProcess__title {
        padding: 20px 10px; }
      .workProcess_tuningDark .workProcess__text {
        padding: 10px; } }

.videoItem__video {
  width: 100%;
  height: 571px; }

.videoItem_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 100px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .videoItem_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .videoItem_tuning {
      width: 100%;
      padding: 10px; }
      .videoItem_tuning .videoItem__video {
        padding: 0;
        margin: 10px auto; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .videoItem_tuning {
      width: 100%;
      padding: 10px; }
      .videoItem_tuning .videoItem__video {
        padding: 0;
        margin: 10px auto; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .videoItem_tuning {
      display: none; } }
  @media all and (max-width: 479px) {
    .videoItem_tuning {
      display: none; } }

.kindBlock {
  background-color: #f5f5f5; }

.kindBlock_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 90px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .kindBlock_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .kindBlock_tuning {
      width: 100%;
      padding: 200px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .kindBlock_tuning {
      width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .kindBlock_tuning {
      width: 100%; } }
  @media all and (max-width: 479px) {
    .kindBlock_tuning {
      width: 100%; } }

.kindUnit__img {
  margin: 0 auto 25px; }
  .kindUnit__img:hover {
    transform: scale(1.1, 1.1); }

.kindUnit__img_design {
  background: url("../img/design.png");
  width: 42px;
  height: 39px; }

.kindUnit__img_develop {
  background: url("../img/develop.png");
  width: 40px;
  height: 40px; }

.kindUnit__img_mobile {
  background: url("../img/mobile.png");
  width: 26px;
  height: 44px; }

.kindUnit__img_game {
  background: url("../img/game.png");
  width: 44px;
  height: 42px; }

.kindUnit__img_seo {
  background: url("../img/seo.png");
  width: 44px;
  height: 44px; }

.kindUnit__img_photo {
  background: url("../img/photo.png");
  width: 44px;
  height: 41px; }

.kindUnit__img_graph {
  background: url("../img/graph.png");
  width: 39px;
  height: 40px; }

.kindUnit__img_design {
  background: url("../img/design.png");
  width: 42px;
  height: 39px; }

.kindUnit__img_illustr {
  background: url("../img/illustr.png");
  width: 43px;
  height: 46px; }

.kindUnit__title {
  font-family: Montserrat, Sans-serif;
  color: #191919;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding-bottom: 15px; }

.kindUnit__text {
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center; }

.kindUnit_tuning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 240px;
  margin-bottom: 40px; }

.carouselBlock {
  background-color: #10c9c3;
  font-family: Montserrat, Sans-serif;
  color: #ffffff; }

.carouselBlock__quote {
  font-size: 24px;
  font-weight: 500;
  margin: 30px;
  text-align: center;
  padding: 120px 150px 0;
  height: 225px; }

.carouselBlock__author {
  font-size: 12px;
  font-weight: 500;
  margin: 30px;
  text-align: center;
  letter-spacing: 1.1px; }

.carouselBlock_tuning {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.carousel-indicators {
  top: 95%; }

.carouselBlock_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .carouselBlock_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .carouselBlock_tuning {
      width: 100%; }
      .carouselBlock_tuning .carouselBlock__quote {
        width: 100%;
        padding: 20px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .carouselBlock_tuning {
      width: 100%; }
      .carouselBlock_tuning .carouselBlock__quote {
        width: 100%;
        padding: 10px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .carouselBlock_tuning {
      width: 100%; }
      .carouselBlock_tuning .carouselBlock__quote {
        width: 100%;
        padding: 10px;
        margin: 100px 0; } }
  @media all and (max-width: 479px) {
    .carouselBlock_tuning {
      display: none; } }

.brand__item {
  margin: 20px; }

.brand__item_handmade {
  background: url("../img/handmade.png");
  width: 89px;
  height: 65px; }

.brand__item_mountain {
  background: url("../img/mountain.png");
  width: 98px;
  height: 58px; }

.brand__item_collection {
  background: url("../img/collection.png");
  width: 127px;
  height: 72px; }

.brand__item_mountbike {
  background: url("../img/mountbike.png");
  width: 96px;
  height: 72px; }

.brand_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 44px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .brand_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .brand_tuning {
      width: 100%;
      padding: 200px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .brand_tuning {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .brand_tuning {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; } }
  @media all and (max-width: 479px) {
    .brand_tuning {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; } }

.order__title {
  font-family: Montserrat, Sans-serif;
  color: #1d1d1d;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center; }

.order__text {
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 35px 180px 38px; }

.order__button {
  width: 180px;
  height: 54px;
  margin: 0 auto; }

.order_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 100px 240px;
  background-color: #f5f5f5; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .order_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .order_tuning {
      width: 100%;
      padding: 20px; }
      .order_tuning .order__text {
        margin: 20px;
        padding: 20px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .order_tuning {
      width: 100%;
      padding: 20px; }
      .order_tuning .order__text {
        margin: 20px;
        padding: 20px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .order_tuning {
      width: 100%;
      padding: 20px; }
      .order_tuning .order__text {
        margin: 20px;
        padding: 20px; } }
  @media all and (max-width: 479px) {
    .order_tuning {
      width: 100%;
      padding: 20px; }
      .order_tuning .order__text {
        margin: 20px;
        padding: 20px; } }

.order_lightBG {
  background-color: #ffffff; }

.orderForm__input {
  height: 48px;
  border: none;
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 0 0 20px;
  width: 100%; }

.orderForm__textarea {
  width: 100%;
  resize: none;
  border: none;
  font-family: NunitoSans, Sans-serif;
  color: #787878;
  padding: 20px 0 0 20px;
  grid-area: comment; }

.orderForm__input_name {
  grid-area: name; }

.orderForm__input_email {
  grid-area: email; }

.orderForm__input_title {
  grid-area: title; }

.orderForm__button {
  width: 180px;
  height: 54px;
  grid-area: button;
  margin: 25px 0 0;
  justify-self: start; }

.orderForm_tuning {
  display: grid;
  width: 670px;
  justify-items: center;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-areas: "name . email" "title title title" "comment comment comment" " button . ."; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .orderForm_tuning {
      width: 100%;
      rid-row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "name" "email" "title" "comment" "button"; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .orderForm_tuning {
      width: 100%;
      rid-row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "name" "email" "title" "comment" "button"; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .orderForm_tuning {
      width: 100%;
      rid-row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "name" "email" "title" "comment" "button"; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .orderForm_tuning {
      width: 100%;
      rid-row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "name" "email" "title" "comment" "button"; } }
  @media all and (max-width: 479px) {
    .orderForm_tuning {
      width: 100%;
      rid-row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas: "name" "email" "title" "comment" "button"; } }

.footer {
  background-color: #141414;
  font-family: NunitoSans, Sans-serif;
  color: #bcbcbc; }

.footer_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  height: 284px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .footer_tuning {
      width: 100%;
      height: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .footer_tuning {
      width: 100%;
      height: 100%; }
      .footer_tuning .copyRight, .footer_tuning .contactBlock, .footer_tuning .linksBlock {
        padding: 10px;
        margin: 10px;
        width: 100%;
        text-align: center; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .footer_tuning {
      width: 100%;
      height: 100%;
      flex-direction: column; }
      .footer_tuning .copyRight, .footer_tuning .contactBlock, .footer_tuning .linksBlock {
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        text-align: center; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .footer_tuning {
      width: 100%;
      height: 100%;
      flex-direction: column; }
      .footer_tuning .copyRight, .footer_tuning .contactBlock, .footer_tuning .linksBlock {
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        text-align: center; } }
  @media all and (max-width: 479px) {
    .footer_tuning {
      width: 100%;
      height: 100%;
      flex-direction: column; }
      .footer_tuning .copyRight, .footer_tuning .contactBlock, .footer_tuning .linksBlock {
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        text-align: center; } }

.copyRight__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 27px 0; }

.copyRight__text {
  color: #bcbcbc;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 5px 0; }

.copyRight_tuning {
  padding: 100px 225px 0 100px;
  box-sizing: border-box; }

.page {
  font-family: Montserrat, Sans-serif; }

.page_tuning {
  padding: 0;
  margin: 0; }

.contactBlock__item {
  font-size: 15px;
  font-weight: 400; }

.contactBlock_tuning {
  padding: 100px 145px 0 0;
  box-sizing: border-box; }

.linksBlock__item {
  font-size: 15px;
  font-weight: 400; }

.linksBlock_tuning {
  padding: 100px 55px 100px 0;
  box-sizing: border-box; }

.linksBlock_wide {
  padding: 100px 130px 100px 100px;
  box-sizing: border-box; }

.smallHeader_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  height: 100px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .smallHeader_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .smallHeader_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .smallHeader_tuning {
      width: 100%;
      height: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .smallHeader_tuning {
      width: 100%;
      height: 100%; }
      .smallHeader_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: middle;
        text-align: center; }
      .smallHeader_tuning .logo_headerTuning {
        float: none;
        margin: 10px auto; } }
  @media all and (max-width: 479px) {
    .smallHeader_tuning {
      width: 100%;
      height: 100%; }
      .smallHeader_tuning .nav_headerTuning {
        float: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: middle;
        text-align: center; }
      .smallHeader_tuning .logo_headerTuning {
        float: none;
        margin: 10px auto; } }

.contactSection {
  background-color: #f5f5f5; }

.contactSection_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .contactSection_tuning {
      width: 100%;
      flex-direction: column; }
      .contactSection_tuning .infoBlock_tuning {
        width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .contactSection_tuning {
      width: 100%;
      flex-direction: column; }
      .contactSection_tuning .infoBlock_tuning {
        width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .contactSection_tuning {
      width: 100%;
      flex-direction: column; }
      .contactSection_tuning .infoBlock_tuning {
        width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .contactSection_tuning {
      width: 100%;
      flex-direction: column; }
      .contactSection_tuning .infoBlock_tuning {
        width: 100%; }
      .contactSection_tuning .infoBlock__lbl {
        float: none; } }
  @media all and (max-width: 479px) {
    .contactSection_tuning {
      width: 100%;
      flex-direction: column; }
      .contactSection_tuning .infoBlock_tuning {
        width: 100%; }
      .contactSection_tuning .infoBlock__lbl {
        float: none; } }

.infoBlock_tuning {
  font-family: NunitoSans, Sans-serif;
  font-size: 16px;
  width: 400px; }

.infoBlock_tunProcess {
  font-family: NunitoSans, Sans-serif;
  font-size: 16px;
  width: 430px; }

.infoBlock__title {
  color: black;
  font-size: 30px;
  font-weight: 900;
  padding: 0 0 30px 0;
  letter-spacing: 1.8px;
  line-height: 32px; }

.infoBlock__title_tunProcess {
  font-size: 35px;
  font-family: Montserrat, Sans-serif;
  letter-spacing: 1.2px;
  font-weight: 900;
  color: black;
  margin: 95px 0 25px 0; }

.infoBlock__text {
  color: #787878;
  font-weight: 400;
  padding: 0 0 25px 0;
  line-height: 24px; }

.infoBlock__text_tuning {
  color: #787878;
  font-weight: 400;
  padding: 0 0 26px 0;
  line-height: 24px;
  text-align: justify; }

.infoBlock__text_tuningLow {
  color: #787878;
  font-weight: 400;
  padding: 0 0 40px 0;
  line-height: 24px;
  text-align: justify; }

.infoBlock__lbl {
  clear: both;
  color: black;
  font-weight: 900;
  float: left;
  padding: 6px 10px 5px 0; }

.infoBlock__content {
  color: #787878;
  padding: 6px; }

.geoLocation_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 0 100px 100px;
  background-color: #f5f5f5; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .geoLocation_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .geoLocation_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .geoLocation_tuning {
      width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .geoLocation_tuning {
      width: 100%; } }
  @media all and (max-width: 479px) {
    .geoLocation_tuning {
      width: 100%;
      display: none; } }

.map_tuning {
  width: 100%;
  height: 470px; }

.textOverImage__title {
  font-family: Montserrat, Sans-serif;
  color: #ffffff;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  padding: 110px 0 22px; }

.textOverImage__text {
  font-family: NunitoSans, Sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 0 300px; }

.textOverImage_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  background: url("../img/headerAbout.png") no-repeat, DimGrey;
  height: 350px;
  background-blend-mode: multiply; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .textOverImage_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .textOverImage_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .textOverImage_tuning {
      width: 100%; }
      .textOverImage_tuning .textOverImage__title, .textOverImage_tuning .textOverImage__text {
        padding: 50px 10px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .textOverImage_tuning {
      width: 100%; }
      .textOverImage_tuning .textOverImage__title, .textOverImage_tuning .textOverImage__text {
        padding: 30px 10px; } }
  @media all and (max-width: 479px) {
    .textOverImage_tuning {
      width: 100%; }
      .textOverImage_tuning .textOverImage__title, .textOverImage_tuning .textOverImage__text {
        padding: 20px 10px; } }

.aboutBlock__img {
  background: url("../img/aboutMe.png") no-repeat;
  height: 570px;
  width: 35%; }

.aboutBlock_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8dcdd+0,ebecee+100 */
  background: #d8dcdd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d8dcdd 0%, #ebecee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d8dcdd 0%, #ebecee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d8dcdd 0%, #ebecee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dcdd', endColorstr='#ebecee',GradientType=0 );
  /* IE6-9 */ }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .aboutBlock_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .aboutBlock_tuning {
      width: 100%; }
      .aboutBlock_tuning .aboutBlock__img {
        display: none; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .aboutBlock_tuning {
      width: 100%; }
      .aboutBlock_tuning .aboutBlock__img {
        display: none; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .aboutBlock_tuning {
      width: 100%; }
      .aboutBlock_tuning .aboutBlock__img {
        display: none; } }
  @media all and (max-width: 479px) {
    .aboutBlock_tuning {
      width: 100%; }
      .aboutBlock_tuning .aboutBlock__img {
        display: none; } }

.projectBlock {
  background-color: #f6f6f6; }

.projectBlock_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 0 0 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.projectBlock__img {
  background: url("../img/breakfast.png");
  background-size: cover;
  width: 683px;
  height: 570px; }

.sliderBlock_tuning {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  padding: 0;
  height: 670px;
  background: #ffffff; }

.sliderBlock__control {
  width: 20%;
  top: 107.3%;
  left: 2%;
  background-image: none;
  opacity: 1;
  font-family: Montserrat, Sans-serif;
  color: #1d1d1d;
  font-size: 12px;
  font-weight: 900;
  text-shadow: none;
  letter-spacing: 1px;
  word-spacing: 1px; }
  .sliderBlock__control:hover {
    color: inherit; }
  .sliderBlock__control:visited {
    color: inherit; }
