@font-face {
  font-family: Paragon;
  src: url("../fonts/Parangon530C.otf"); }

.page {
  margin: 0;
  padding: 0; }

.headerWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 810px;
  width: 75%;
  left: 12.5%; }

.header_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  color: white;
  height: 810px;
  width: 100%;
  padding: 0; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .header_tuning {
      height: 100%; }
      .header_tuning .header__video {
        display: none; }
      .header_tuning .headerWrap {
        background: #673ab7;
        position: static;
        height: 100%;
        width: 100%; }
      .header_tuning .headerWrap__mainTitle {
        padding: 70px 0 50px; }
      .header_tuning .headerWrap__resumeText {
        margin: 0 70px; }
      .header_tuning .historyBlock {
        padding-bottom: 50px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .header_tuning {
      height: 100%; }
      .header_tuning .header__video {
        display: none; }
      .header_tuning .headerWrap {
        background: #673ab7;
        position: static;
        height: 100%;
        width: 100%; }
      .header_tuning .headerWrap__mainTitle {
        padding: 70px 0 50px; }
      .header_tuning .headerWrap__resumeText {
        margin: 0 70px; }
      .header_tuning .historyBlock {
        padding-bottom: 50px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .header_tuning {
      height: 100%; }
      .header_tuning .header__video {
        display: none; }
      .header_tuning .headerWrap {
        background: #673ab7;
        position: static;
        height: 100%;
        width: 100%; }
      .header_tuning .headerWrap__mainTitle {
        padding: 70px 0 50px; }
      .header_tuning .headerWrap__resumeText {
        margin: 0 70px; }
      .header_tuning .historyBlock {
        padding-bottom: 50px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .header_tuning {
      height: 100%; }
      .header_tuning .header__video {
        display: none; }
      .header_tuning .headerWrap {
        background: #673ab7;
        position: static;
        height: 100%;
        width: 100%; }
      .header_tuning .headerWrap__mainTitle {
        padding: 70px 0 50px; }
      .header_tuning .headerWrap__resumeText {
        margin: 0 70px;
        font-size: 44px;
        line-height: 50px; }
      .header_tuning .historyBlock {
        padding-bottom: 50px; } }

.headerWrap__mainTitle {
  font-size: 48px;
  padding: 200px 0 50px;
  margin: 0 50px;
  font-family: Paragon, Sans-serif; }

.headerWrap__resumeText {
  font-size: 24px;
  padding: 0 0 70px 0;
  line-height: 36px;
  margin: 0 240px;
  font-family: Arial, Sans-serif; }

.header__video {
  width: 100%;
  height: 100%; }

.historyUnit {
  width: 251px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px; }

.topBlock__logo {
  height: 40px;
  position: relative;
  top: -17px;
  margin: 0 8px; }

.topBlock {
  display: flex;
  flex-direction: row;
  height: 20%; }

.topBlock__left {
  border-left: 2px solid;
  border-top: 2px solid;
  width: 100%; }

.topBlock__right {
  border-right: 2px solid;
  border-top: 2px solid;
  width: 100%; }

.topBlock__logo_service {
  background: url(../img/star.png);
  background-size: cover;
  width: 46%; }

.topBlock__logo_project {
  background: url(../img/task.png);
  background-size: cover;
  height: 44px;
  width: 44%;
  margin: 0 1px 0 8px; }

.topBlock__logo_client {
  background: url(../img/diamond.png);
  background-size: cover;
  width: 46%; }

.historyUnit__count {
  border-left: 2px solid;
  border-right: 2px solid;
  font-family: Paragon, Sans-serif;
  font-size: 48px;
  z-index: 1000; }

.historyUnit__comment {
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  font-family: Arial, Sans-serif;
  font-size: 18px; }

.historyBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.nav_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .nav_tuning {
      justify-content: stretch;
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row; }

.navbar__item {
  font-family: Arial, Sans-serif;
  font-size: 26px;
  margin: 40px; }

.navbar__item_active {
  color: #f6ae48; }

.link {
  text-decoration: none;
  display: block;
  color: inherit; }
  .link:hover {
    color: #f18f04; }
