@charset "UTF-8";
@font-face {
  font-family: Paragon;
  src: url("../fonts/Parangon530C.otf"); }

@font-face {
  font-family: 'IconFont';
  src: url("../fonts/IconFont.eot?22295437#iefix") format("embedded-opentype"), url("../fonts/IconFont.woff?22295437") format("woff"), url("../fonts/IconFont.ttf?22295437") format("truetype"), url("../fonts/IconFont.svg?22295437#IconFont") format("svg"); }

.page {
  margin: 0;
  padding: 0; }

.header_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  color: white;
  height: 810px;
  padding: 0; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .header_tuning {
      height: 100%;
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .header_tuning {
      height: 100%;
      width: 100%;
      padding: 0; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .header_tuning {
      height: 100%;
      width: 100%;
      padding: 0; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .header_tuning {
      height: 100%;
      width: 100%;
      padding: 0; } }

.blockWithBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; }

.blockWithBg_header {
  background: url(../img/header.png);
  height: 810px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .blockWithBg_header .blockWithBg__mainTitle {
      padding: 70px 0 50px; }
    .blockWithBg_header .blockWithBg__resumeText {
      margin: 0 70px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .blockWithBg_header {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_header .blockWithBg__mainTitle {
        padding: 70px 0 50px; }
      .blockWithBg_header .blockWithBg__resumeText {
        margin: 0 70px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .blockWithBg_header {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_header .blockWithBg__mainTitle {
        padding: 70px 0 50px; }
      .blockWithBg_header .blockWithBg__resumeText {
        margin: 0 70px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .blockWithBg_header {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_header .blockWithBg__mainTitle {
        padding: 70px 0 50px;
        font-size: 35px; }
      .blockWithBg_header .blockWithBg__resumeText {
        margin: 0 70px;
        font-size: 30px;
        line-height: 50px; } }

.blockWithBg_overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(27, 31, 103, 0.6); }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .blockWithBg_overlay:before {
      display: none; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .blockWithBg_overlay:before {
      display: none; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .blockWithBg_overlay:before {
      display: none; } }

.blockWithBg__mainTitle {
  font-size: 48px;
  padding: 200px 0 50px;
  margin: 0 50px;
  font-family: Paragon, Sans-serif;
  z-index: 100; }

.blockWithBg__mainTitle_kredo {
  padding: 10px 0 50px; }

.blockWithBg__resumeText {
  font-size: 27px;
  padding: 0 0 50px 0;
  line-height: 40px;
  margin: 0 295px;
  font-family: Arial, Sans-serif;
  z-index: 100; }

.blockWithBg__resumeText_kredo {
  font-size: 35px;
  padding: 67px 0 70px 0;
  line-height: 50px;
  margin: 0px 190px; }

.blockWithBg_kredo {
  background: url(../img/kredo.png);
  height: 566px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .blockWithBg_kredo .blockWithBg__resumeText_kredo {
      padding: 0; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .blockWithBg_kredo {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_kredo .blockWithBg__resumeText_kredo {
        padding: 0; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .blockWithBg_kredo {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_kredo .blockWithBg__resumeText_kredo {
        padding: 0;
        font-size: 20px;
        line-height: 30px;
        margin: 30px; }
      .blockWithBg_kredo .blockWithBg__mainTitle_kredo {
        padding: 10px 0 10px;
        font-size: 38px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .blockWithBg_kredo {
      background: #673ab7;
      position: static;
      height: 100%;
      width: 100%; }
      .blockWithBg_kredo .blockWithBg__resumeText_kredo {
        padding: 0;
        font-size: 20px;
        line-height: 30px;
        margin: 30px; }
      .blockWithBg_kredo .blockWithBg__mainTitle_kredo {
        padding: 10px 0 10px;
        font-size: 38px; } }

.historyUnit {
  width: 251px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .historyUnit {
      margin: 0 2px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .historyUnit {
      margin: 0 2px; } }

.topBlock__logo {
  height: 40px;
  position: relative;
  top: -17px;
  margin: 0 8px; }

.topBlock {
  display: flex;
  flex-direction: row;
  height: 20%; }

.topBlock__left {
  border-left: 2px solid;
  border-top: 2px solid;
  width: 100%; }

.topBlock__right {
  border-right: 2px solid;
  border-top: 2px solid;
  width: 100%; }

.topBlock__logo_service {
  background: url(../img/star.png);
  background-size: cover;
  width: 46%; }

.topBlock__logo_project {
  background: url(../img/task.png);
  background-size: cover;
  height: 44px;
  width: 44%;
  margin: 0 1px 0 8px; }

.topBlock__logo_client {
  background: url(../img/diamond.png);
  background-size: cover;
  width: 46%; }

.historyUnit__count {
  border-left: 2px solid;
  border-right: 2px solid;
  font-family: Paragon, Sans-serif;
  font-size: 48px;
  z-index: 1000; }

.historyUnit__comment {
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 30px;
  font-family: Arial, Sans-serif;
  font-size: 18px; }

.historyBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 100; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .historyBlock {
      padding-bottom: 50px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .historyBlock {
      padding-bottom: 50px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .historyBlock {
      padding-bottom: 50px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .historyBlock {
      flex-direction: column; } }

.nav_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 130px; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .nav_tuning {
      justify-content: stretch;
      width: 100%;
      padding: 0 100px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .nav_tuning {
      justify-content: stretch;
      padding: 0;
      width: 100%; } }

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .navbar .navbar__item {
      font-size: 25px;
      font-weight: 600; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .navbar .navbar__item {
      font-size: 25px;
      font-weight: 500; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center; }
      .navbar .navbar__item {
        font-size: 25px;
        font-weight: 400;
        margin: 20px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center; }
      .navbar .navbar__item {
        font-size: 25px;
        font-weight: 400;
        margin: 10px; } }

.navbar__item {
  font-family: Arial, Sans-serif;
  font-size: 30px;
  margin: 40px;
  font-weight: 600; }

.navbar__item_active {
  color: #f6ae48; }

.link {
  text-decoration: none;
  display: block;
  color: inherit; }
  .link:hover {
    color: #f18f04; }

.studio_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 50px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.32); }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .studio_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .studio_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .studio_tuning {
      width: 100%; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .studio_tuning {
      width: 100%; } }

.studio__header {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.studio__service {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .studio__service {
      flex-direction: column;
      align-items: center; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .studio__service {
      flex-direction: column;
      align-items: center; } }

.stBlock {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .stBlock {
      flex-direction: column; }
      .stBlock .stBlock__leftUnit {
        margin: 35px 0 20px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .stBlock {
      flex-direction: column; }
      .stBlock .stBlock__leftUnit {
        margin: 35px 0 20px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .stBlock {
      flex-direction: column; }
      .stBlock .stBlock__leftUnit {
        margin: 35px 0 20px; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .stBlock {
      flex-direction: column; }
      .stBlock .stBlock__leftUnit {
        margin: 35px 0 20px; } }

.stBlock__leftUnit {
  text-align: center;
  font-family: Arial, Sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 120px;
  font-weight: 600; }

.doubleText__text {
  font-size: 26px;
  line-height: 40px;
  font-family: Arial, Sans-serif;
  position: relative;
  margin: 110px 0;
  text-align: justify; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .doubleText__text {
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      margin: 30px 0; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .doubleText__text {
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      margin: 30px 0; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .doubleText__text {
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      margin: 30px 0; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .doubleText__text {
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      margin: 30px 0; } }

.doubleText_back:before {
  color: rgba(193, 193, 193, 0.19);
  font-family: Arial, Sans-serif;
  font-size: 320px;
  font-weight: 800;
  content: 'WE';
  display: block;
  position: absolute;
  top: 70px;
  left: -60px;
  width: 100%;
  height: 100%; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .doubleText_back:before {
      left: 0;
      text-align: center; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .doubleText_back:before {
      left: 0;
      text-align: center; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .doubleText_back:before {
      left: 0;
      text-align: center; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .doubleText_back:before {
      left: 0;
      text-align: center; } }

.serviceBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; }

.serviceBlock_tuning {
  width: 399px; }
  .serviceBlock_tuning:hover {
    background: #f6ae48; }
    .serviceBlock_tuning:hover .icon {
      color: white; }
    .serviceBlock_tuning:hover .serviceBlock__title {
      color: white; }
    .serviceBlock_tuning:hover .serviceBlock__text {
      color: white; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .serviceBlock_tuning {
      width: 100%; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .serviceBlock_tuning {
      width: 100%; } }

.serviceBlock__log–æ {
  margin: 0 0 20px 0;
  padding: 15px 20px 0; }

.serviceBlock__title {
  font-family: Arial, Sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 0 20px; }

.serviceBlock__text {
  font-family: Arial, Sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 30px 0;
  padding: 0 20px; }

.icon {
  font-family: "IconFont";
  font-style: normal;
  font-size: 52px;
  color: #00bbe8; }

.icon_white {
  color: white; }

.icon_small {
  font-size: 45px; }

/*
icon- heartbeat &#xf21e
icon- rocket 0xf135
icon- mobile &#xe800;
icon- mobile-1 0xf10b
icon- right-big 0xe801
icon- up-big 0xe802
icon- left-big 0xe803
icon- down-big 0xe804 
right-small 0xe805 
*/
.buttonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  z-index: 100; }

.buttonBlock_dev {
  border-top: 1px solid white;
  padding: 30px 0 15px;
  margin: 0 30px; }

.buttonBlock__button {
  background: transparent;
  border: 2px solid;
  padding: 10px 20px;
  color: white;
  box-sizing: border-box;
  margin-left: 20px;
  height: 100%;
  font-weight: 600;
  outline: none; }
  .buttonBlock__button:hover {
    cursor: pointer;
    font-weight: 900; }

.buttonBlock__arrow {
  padding: 0 20px 0 0; }

.buttonBlock__button_blue {
  border-color: #00bbe8; }

.buttonBlock__button_yellow {
  border-color: #ffcc00; }

.buttonBlock__button_green {
  border-color: #66c105; }

.kredo_tuning {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  color: white;
  padding: 0; }
  @media all and (min-width: 1200px) and (max-width: 1440px) {
    .kredo_tuning {
      width: 100%; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .kredo_tuning {
      width: 100%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .kredo_tuning {
      width: 100%; } }
  @media all and (min-width: 576px) and (max-width: 767px) {
    .kredo_tuning {
      width: 100%; } }

.developBanner_tuning {
  width: 666px;
  height: 526px;
  position: absolute;
  top: 1500px;
  left: 500px;
  background: url("../img/debelop_bg.png");
  color: white; }

.developBanner__text {
  color: white;
  font-size: 48px; }

.developBlock_tuning {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.developUnit {
  position: relative; }

.developUnit_overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

.developUnit_tuning {
  margin: 20px;
  padding: 10px;
  width: 366px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain; }

.developUnit__title {
  color: white;
  font-size: 48px;
  z-index: 100;
  font-family: Paragon, Sans-serif;
  padding: 75px 0 0 30px; }

.developUnit_WS {
  background: url("../img/webSite_bg.png");
  background-size: contain; }

.developUnit_LP {
  background: url("../img/landingPage_bg.png");
  background-size: contain; }

.developUnit_IS {
  background: url("../img/internetShop_bg.png");
  background-size: contain; }

/*
@include respondTo(lg-desktops) {}
@include respondTo(small-desktops) {}
@include respondTo(tablets) {}
 @include respondTo(wide-phones) {}
*/
