.textOverImage{}

.textOverImage__title{
	font-family: $mainFont;
	color:  #ffffff;
	font-size: 38px;
	font-weight: 500;
    text-align: center;
    padding: 110px 0 22px;
}

.textOverImage__text{
	font-family: $secondFont;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	padding: 0 300px;
}

.textOverImage_tuning{
	@include positionOnPage();
	background:url("../img/headerAbout.png") no-repeat, DimGrey;
	height:350px;
	background-blend-mode: multiply;

	@include respondTo(lg-desktops){
		width: 100%;
	}

	@include respondTo(small-desktops){
	    width: 100%;
	}

	@include respondTo(tablets){
	    width: 100%;
	    .textOverImage__title, .textOverImage__text{
	    	padding:50px 10px;
	    }

	}

	@include respondTo(wide-phones){
	    width: 100%;
	    .textOverImage__title, .textOverImage__text{
	    	padding:30px 10px;
	    }
	}

	@include respondTo(phones){
	    width: 100%;
	    .textOverImage__title, .textOverImage__text{
	    	padding:20px 10px;
	    }
	}
}
