.ourProjects_tuning {
    @include positionOnPage();
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #303263;
    @include respondTo(lg-desktops) {
        width: 100%;
    }
    @include respondTo(small-desktops) {
        width: 100%;
    }
    @include respondTo(tablets) {
        width: 100%;
        padding: 0 50px;
    }
    @include respondTo(wide-phones) {
        width: 100%;
        padding: 0 20px;
    }
}