@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: NunitoSans;
  src: url("../fonts/NunitoSans-Regular.ttf");
}

$mainFont:Montserrat, Sans-serif;
$secondFont:NunitoSans, Sans-serif;

//MIXINS
@mixin respondTo($_media) {
  @if $_media == phones {
    @media all and (max-width: 479px) { @content; }
  }
  @else if $_media == wide-phones {
    @media all and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $_media == tablets {
    @media all and (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $_media == small-desktops {
    @media all and (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $_media == lg-desktops {
    @media all and (min-width: 1200px) and (max-width: 1440px) { @content; }
  }
  @else if $_media == xlg-desktops {
    @media all and (min-width: 1441px) and (max-width: 1920px) { @content; }
  }
}

@mixin positionOnPage(){
  width: 1366px;
  height:100%;
  margin:0 auto;
  padding:0 100px;
  box-sizing:border-box;

}

@mixin hoverBackground($BGImg,$HoverIMG){
    background-image:$BGImg;
  &:hover{
    background-image:$BGImg, $HoverIMG;
    background-repeat:no-repeat;
    background-blend-mode: multiply;
  } 
}



@import "blocks/page/page";
@import "blocks/header/header";
@import "blocks/logo/logo";
@import "blocks/nav/nav";
@import "blocks/link/link";
@import "blocks/button/button";
@import "blocks/about/about";
@import "blocks/skills/skills";
@import "blocks/skillsBlock/skillsBlock";
@import "blocks/progressBlock/progressBlock";
@import "blocks/progress/progress";
@import "blocks/history/history";
@import "blocks/historyBlock/historyBlock";
@import "blocks/works/works";
@import "blocks/loadMore/LoadMore";
@import "blocks/workProcess/workProcess";
@import "blocks/videoItem/videoItem";
@import "blocks/kindBlock/KindBlock";
@import "blocks/kindUnit/KindUnit";
@import "blocks/carouselBlock/carouselBlock";
@import "blocks/brand/brand";
@import "blocks/order/order";
@import "blocks/orderForm/orderForm";
@import "blocks/footer/footer";
@import "blocks/copyRight/copyRight";
@import "blocks/page/page";
@import "blocks/contactBlock/contactBlock";
@import "blocks/linksBlock/linksBlock";
@import "blocks/smallHeader/smallHeader";
@import "blocks/contactSection/contactSection";
@import "blocks/infoBlock/infoBlock";
@import "blocks/geoLocation/geoLocation";
@import "blocks/map/map";
@import "blocks/textOverImage/textOverImage";
@import "blocks/aboutBlock/aboutBlock";
@import "blocks/projectBlock/projectBlock";
@import "blocks/sliderBlock/sliderBlock";
